$red-50: #F2B1BE;
$red-100: #F59AAA;
$red-200: #F58295;
$red-300: #F5697E;
$red-400: #F24C67;
$red-500: #ED254E;
$red-600: #C31B3D;
$red-700: #AE1535;
$red-800: #9B102D;
$red-900: #870B25;

$blue-50: #C0ECEF;
$blue-100: #AEE2E6;
$blue-200: #9CD8DC;
$blue-300: #8ACED3;
$blue-400: #76C5CA;
$blue-500: #62BBC1;
$blue-600: #449BA1;
$blue-700: #358C92;
$blue-800: #257D83;
$blue-900: #106E74;

$black-50: #373738;
$black-100: #323234;
$black-200: #2D2D30;
$black-300: #28282C;
$black-400: #232328;
$black-500: #1E1E24;
$black-600: #15151B;
$black-700: #0F0F16;
$black-800: #080811;
$black-900: #000000;
$black-50: #373738;

$gray-100: #CECECE;
$gray-200: #B9B9B9;
$gray-300: #AAABAD;
$gray-400: #7C7C7C;
$gray-500: #696969;
$gray-600: #585858;
$gray-700: #504F50;
$gray-800: #484748;
$gray-900: #403F40;

$white-100: #FFFFFF;
$white-200: #FFFEFF;
$white-300: #FFFDFF;
$white-400: #FFFCFF;
$white-500: #FFFBFF;
$white-600: #ECE9EC;
$white-700: #E3E0E3;
$white-800: #DAD8DA;
$white-900: #D1CFD1;

$re-use-color-primary: $red-500;
$re-use-color-secondary: $blue-500;

$re-use-color-dark: $black-500;
$re-use-color-light: $white-500;

$re-use-color-disabled-primary: $gray-300;
$re-use-color-disabled-secondary: $gray-500;